.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #2a3d45;
  padding: 75px;
}

.cta-subtext {
  width: 900px;
}

.main-image img {
  width: 600px;
  height: 600px;
  object-fit: cover;
  border-radius: 50%;
}

.main-text {
  color: #f4f4f4;
  font-size: 1.85rem;
}

.icons {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
}

.icon {
  color: #8fbc94;
  font-size: 2.8rem;
  margin-right: 20px;
  text-decoration: none;
}

.icons button a {
  color: #f4f4f4;
  text-decoration: none;
}

.icons button {
  background-color: #8fbc94;
  color: #f4f4f4;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 2.5rem;
  cursor: pointer;
}

.icons button:hover {
  background-color: #1c1c1e;
  color: #f4f4f4;
}

.projects-container {
  background-color: #1c1c1e;
  padding-bottom: 40px;
}

.projects-container h3 {
  color: #f4f4f4;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.projects h4 {
  color: #f4f4f4;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
}

.projects p,
li {
  color: #f4f4f4;
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #2a3d45;
  width: 850px;
  height: 700px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  transition: all 0.2s ease-in-out;
}

.project:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border: 4px solid #8fbc94;
  transform: scale(1.02);
}

.project-text {
  font-size: 1.2rem;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 700;
}

.project-text-show {
  font-size: 1.5rem;
  padding: 5px;
  font-weight: 700;
}

.project-img {
  width: 300px;
  height: 175px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}

.project-img:hover {
  opacity: 0.8;
}

.skills {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin-top: 15px;
}

.skills-img {
  width: 75px;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
