.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #1c1c1e;
}

.logo h1 {
  color: #f4f4f4;
  font-size: 1.75rem;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.nav-links {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-links:hover {
  color: #1c1c1e;
}

.nav-btn {
  background-color: #8fbc94;
  font-weight: bold;
  color: #f4f4f4;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.7rem;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: #1c1c1e;
  color: #f4f4f4;
}

.project-img {
  width: 18%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.project-img:hover {
  opacity: 0.8;
}

.skills {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.skills-img {
  width: 75px;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
