.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #1c1c1e;
  height: 20vh;
  width: 100vw;
}

.logo h1 {
  color: #f4f4f4;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: 2px solid #8fbc94 underline;
}

.nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  margin-right: 15px;
}

.nav-links {
  color: #f4f4f4;
  text-decoration: none;
  font-size: 1.85rem;
  font-weight: bold;
}

.nav-links:hover {
  color: #8fbc94;
}

.nav-btn {
  background-color: #8fbc94;
  font-weight: bold;
  color: #f4f4f4;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.7rem;
  cursor: pointer;
}

.nav-btn:hover {
  background-color: #eaeaea;
  color: #8fbc94;
}

@media (max-width: 444px) {
  .logo h1 {
    font-size: 1rem;
  }

  li .closed {
    display: none;
  }

  li .active {
    display: block;
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100vh;
    width: 100vw;
    background-color: #1c1c1e;
    padding: 20px;
  }
}

/* @media (max-width: 1700px) {
  .logo h1 {
    font-size: 1.6rem;
  }
  .nav-links {
    font-size: 1.5rem;
  }

  .nav-btn {
    font-size: 1.5rem;
    margin-right: 60px;
  }
} */
